body {
	background: gray;
}

nav > ul > li{
	text-decoration: none;
	display:inline-block;
	background-color: white;
	color: black;
	width:15%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav > ul > li > a {
	text-decoration: none;
	color: blue;
}

nav > ul > li > a:hover {
	color: green;
}

.current {
	text-decoration: none;
	color: #000000;
}

.current:hover {
	color: black;
}

.nav-item-text {
	margin-left: 5px;
}
